include ("./layout/head.pug")
include ("./layout/header.pug")

include ("./components/landing.pug")
include ("./components/section_one.pug")
include ("./components/section_two.pug")
include ("./components/section_three.pug")

include ("./layout/footer.pug")
include ("./layout/scripts.pug")