header{
    background:var(--clr-g-intro);
    border-radius: 0 0 0 $curve;
    position: relative;
    overflow: hidden;
    &>img{
        z-index: 1;
        position: absolute;
        &:nth-child(1){
            width: 350%;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -40%);
        }
        &:nth-child(2){
            display: none;
            display: block;
            width: 230%;
            top: 50%;
            left: 50%;
            transform: translate(-37%,-52%);
        }  
    }
    @media screen and (min-width:376px) {
        &>img{
            &:nth-child(1){
                display: none;
            }
            &:nth-child(2){
                display: block;
            }  
        }
    }
    
    .container{
        position: relative;
        z-index: 1000;
        nav{
            display: flex;
            justify-content: space-between;
            padding-top: 1.5rem;
            position: relative;
            img{

            }
            .navigation{
                transform: translateX(-50%) scale(1,0);
                transform-origin: top;
                transition: .3s;
                position: absolute;
                top: 100%;
                left: 50%;
                display: flex;
                flex-direction: column;
                background-color: var(--clr-n-white);
                color: var(--clr-p-very-dark-blue);
                width: 100%;
                border-radius: 5px;
                padding: 2.5rem 1.5rem;
                margin-top: 1rem;
                filter: drop-shadow(0 10px 10px rgba(0,0,0,.4));
                .menu{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    padding: 0 0 1rem 0;
                    div{
                        position: relative;
                        button{
                            font-family: var(--ff-ubuntu);
                            font-weight: 500;
                            border: none;
                            background: transparent;
                            font-size: 1.5rem;
                            position: relative;
                            &:after{
                                content: url("../images/icon-arrow-dark.svg");
                                transform: translateY(-50%) rotate(180deg);
                                transition: .3s;
                                position: absolute;
                                top: 50%;
                                margin-left:.5rem;
                            }
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        ul{
                            display: flex;
                            transform-origin: top;
                            height: 0;
                            overflow: hidden;
                            transition: .3s;
                            font-weight: 700;
                            list-style: none;
                            
                            flex-direction: column;
                            gap: 1rem;
                            font-size: 1.25rem;
                            background: var(--clr-bg-grey);
                            border-radius: 5px;
                            li{
                                a{
                                    color:var(--clr-p-very-dark-blue);
                                    text-decoration: none;
                                    font-weight: 300;
                                }
                            }
                        }
                        &.show-li{
                            button:after{
                                transform: rotate(0deg);
                            }
                            ul{
                                height: 100%;
                                padding: 1rem;
                                margin: 1rem 0 0 0; 
                            }
                        }
                    }
                }
                .btns{
                        display: flex;
                        gap: .5rem;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        padding: 1rem 0 0 0 ;
                        &:before{
                            content:"";
                            width: 100%;
                            position: absolute;
                            height: 1px;
                            top: 0;
                            left: 0;
                            background-color: var(--clr-n-very-dark-grayish-blue);
                        }
                        button{
                            padding: 0.75rem 2.25rem;
                            border: none;
                            border-radius: 100vmax;
                            font-size: 1.25rem;
                            line-height: normal;
                            font-weight: var(--fw-700);
                            font-family: var(--ff-ubuntu);
                            &:nth-child(1){
                                background: none;
                                color: var(--clr-p-very-dark-blue);

                            }
                            &:nth-child(2){
                                background: var(--clr-g-intro);
                                color: var(--clr-n-white);
                                line-height: normal;
                                
                            }
                            
                        }
                }
            }
            .show-menu{
                transform: translateX(-50%) scale(1);
            }
            .bars{
                border: none;
                background: transparent;
                position: relative;
                overflow: hidden;
                &:after{
                    content: url(../images/icon-close.svg);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    opacity: 0;
                    transition: .3s;
                }
                img{
                    transition: .3s;
                }
                &.clicked{
                    img{
                        opacity: 0;
                    }
                    &:after{
                        opacity: 1;
                    }
                }
                
            }
        }
        @media screen and (min-width:376px){
                nav{
                    height: fit-content;
                    padding: 0;
                    align-items: center;
                    gap: 5rem;
                    img{
                        height: 2.5rem;
                    }
                    .navigation{
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        transform: none;
                        top: 0;
                        left: 0;
                        margin: 0;
                        padding: 0;
                        justify-content:space-between;
                        align-items: center;
                        background: transparent;
                        filter: none;
                        
                        .menu{
                            transform: none;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin: 0;
                            padding: 0;
                            gap: 3rem;
                            div{
                                
                                button{
                                    color: var(--clr-n-white);
                                    font-size: 1rem;
                                    &:after{
                                        content: url("../images/icon-arrow-light.svg");
                                    }
                                }
                                ul{
                                    position: absolute;
                                    background: var(--clr-n-white);
                                    font-size: 1rem;
                                    li{
                                        a{
                                            &:hover{
                                                font-weight: bold;
                                            }
                                        }
                                        
                                    }
                                }
                                &.show-li{
                                    ul{
                                        height: fit-content;
                                        filter: drop-shadow(0 5px 5px rgba(0 0 0 / .3));
                                        width: 8rem;
                                    }
                                }
                            }
                        }
                        .btns{
                            margin: 0;
                            padding: 0;
                            display: flex;
                            flex-direction: row;
                            
                            &:before{
                                display: none;
                            }
                            button{
                                
                                &:nth-child(1){
                                    color: var(--clr-n-white);
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                                &:nth-child(2){
                                    background: var(--clr-n-white);
                                    color: var(--clr-p-very-light-red);
                                    &:hover{
                                        background: var(--clr-p-very-light-red);
                                        color: var(--clr-n-white);
                                    }
                                }
                            }
                            
                        }
                    }
                    .bars{
                        display: none;
                    }
                }
        }
        .landing{
            height: 30rem;
            color: var(--clr-n-white);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font-size: 2.1rem;
                font-weight: var(--fw-600);
            }
            p{
                margin: 1rem 0 2.5rem 0;
            }
            div{
                display: flex;
                gap: 1rem;
                width: 100%;
                button{
                    background-color: var(--clr-n-white);
                    border-radius: 100vmax;
                    border: none;
                    padding: 1rem 0;
                    width: 100%;
                    line-height: 1;
                    white-space: nowrap;
                    font-size: 1.1rem;
                    font-weight: var(--fw-700);
                    font-family: var(--ff-ubuntu);
                    color: var(--clr-p-very-light-red);
                    &:nth-child(1){
                        &:hover{
                            background: var(--clr-p-very-light-red);
                            color: var(--clr-n-white);
                        }
                    }
                    &:nth-child(2){
                        background: transparent;
                        border: 2px solid var(--clr-n-white);
                        color: var(--clr-n-white);
                        &:hover{
                            background: var(--clr-n-white);
                            color: var(--clr-p-very-light-red);
                        }
                    }
                    
                }
            }
        }
        @media screen and (min-width:376px) {
            .landing{
                h1{
                    font-size: 3.5rem;
                }
                p{
                    font-size: 1.25rem;
                }
                div{
                    width: 30%;
                }
            }
            
        }
    }
    
}