footer 
    div.container
        div 
            div 
                img(src="./assets/images/logo.svg" alt="Blogr Logo")
            div 
                h4 Product
                ul
                    li
                        a(href="#") Overview
                    li
                        a(href="#") Pricing
                    li
                        a(href="#") Marketplace
                    li
                        a(href="#") Features
                    li
                        a(href="#") Integrations
            div 
                h4 Company
                ul
                    li
                        a(href="#") About
                    li
                        a(href="#") Team
                    li
                        a(href="#") Blog
                    li
                        a(href="#") Careers
            div 
                h4 Connect
                ul
                    li
                        a(href="#") Contact
                    li
                        a(href="#") Newsletter
                    li
                        a(href="#") LinkedIn

    <div class="attribution">
        | Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
        | Coded by <a href="#">Mohamed Ayaou</a>.
    </div>