header 
    img(src="./assets/images/bg-pattern-intro-mobile.svg", alt="")
    img(src="./assets/images/bg-pattern-intro-desktop.svg", alt="")
    div.container
        nav
            img(src="./assets/images/logo.svg", alt="Bloger Logo")
            div.navigation
                div.menu
                    div
                        button Product
                        ul
                            li
                                a(href="#") Overview
                            li
                                a(href="#") Pricing
                            li
                                a(href="#") Marketplace
                            li
                                a(href="#") Features
                            li
                                a(href="#") Integrations
                    div
                        button Company
                        ul
                            li
                                a(href="#") About
                            li
                                a(href="#") Team
                            li
                                a(href="#") Blog
                            li
                                a(href="#") Careers
                    div
                        button Connect
                        ul
                            li
                                a(href="#") Contact
                            li
                                a(href="#") Newsletter
                            li
                                a(href="#") LinkedIn
                div.btns
                    button Log in
                    button Sign up
            button.bars: img(src="./assets/images/icon-hamburger.svg", alt="Bars icon")

        section.landing 
                h1 A modern publishing platform
                p  Grow your audience and build your online brand
                div 
                    button Start for Free
                    button Learn More