include ./layout/head
include ./layout/header

main
    include ./components/section_one
    include ./components/section_two
    include ./components/section_three

include ./layout/footer
include ./layout/scripts